body {
    background-color: #418486;
}

h1 {
    text-align: center;
    background-color: antiquewhite;
}

ul {
    list-style-type: none;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #897253;
}

 a {
    color:black;
    text-decoration: none;
    
 }

 .mainWrapper {
    display: flex;
    height: 300px;
    width: 90%;
 }

 .bodyL {
    background-color: #ffdab9;
    width: 50%;
 }

 .bodyR {
    background-color: #5f743a;
    width: 50%;
 }
